body {
    padding-top: 30px;

    background-color: #eee;
}

.form {
    max-width: 330px;
    margin: 0 auto;
}

.form-group, .alert {
    margin-bottom: 10px;
}

.form-control-feedback {
    margin-top: 5px;
}

.form-heading {
    margin-bottom: 0;

    text-align: center;
}

.form .checkbox {
    font-weight: normal;
}

.form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    
    font-size: 16px;
}

fieldset {
    margin: 30px 0;
    padding: 0;
}

label, .promo p {
    margin-bottom: 0;    
}

.promo {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.cats {
    padding-top: 30px;
}

.cats img {
    width: 100%;
}

@media (max-width: 768px) {
    .col-md-4:not(:last-child) {
        padding-bottom: 15px;
    }
}